In [1]:
import pandas as pd
import numpy as np

In [9]:
NUMBER_OF_ROWS = 1000
TIME_GAP = '125ms'
df = pd.DataFrame({
    'timestamp': pd.date_range('2019-01-01', periods=NUMBER_OF_ROWS, freq=TIME_GAP),
    'A': np.random.randn(NUMBER_OF_ROWS),
    'B': np.random.randn(NUMBER_OF_ROWS),
})

In [3]:
df.head()

            timestamp         A         B
0 2019-01-01 00:00:00 -0.501063 -1.561118
1 2019-01-01 01:00:00 -0.268962 -0.018040
2 2019-01-01 02:00:00  1.606792 -0.195784
3 2019-01-01 03:00:00  0.120430 -0.917491
4 2019-01-01 04:00:00 -0.928339  0.083354

In [19]:
grouped = df.groupby(pd.Grouper(key='timestamp', freq='2s'))

# create windowed dataframe, with A_mean, A_std, B_mean, B_std columns
windowed = grouped.agg({
    'A': ['mean', 'std'],
    'B': ['mean', 'std'],
    'timestamp': ['first', 'last']
})

In [21]:
windowed

                            A                   B            \
                         mean       std      mean       std
timestamp
2019-01-01 00:00:00  0.341097  1.633504  0.321589  0.796663
2019-01-01 00:00:02 -0.347093  0.598106 -0.034552  1.001214
2019-01-01 00:00:04  0.083520  1.056967 -0.245354  0.989242
2019-01-01 00:00:06 -0.324311  1.003963 -0.197838  1.256739
2019-01-01 00:00:08  0.017217  1.386830  0.070135  0.625430
...                       ...       ...       ...       ...
2019-01-01 00:01:56 -0.140655  0.911002  0.216110  0.975087
2019-01-01 00:01:58  0.237038  0.967556  0.016568  1.007360
2019-01-01 00:02:00 -0.375828  0.969129  0.006933  1.266142
2019-01-01 00:02:02 -0.469212  0.827338  0.204876  1.159301
2019-01-01 00:02:04  0.435335  0.719512  0.848696  1.219064

                              timestamp
                                  first                    last
timestamp
2019-01-01 00:00:00 2019-01-01 00:00:00 2019-01-01 00:00:01.875
2019-01-01 00:00:02 2019-01-01 00:00:02 2019-01-01 00:00:03.875
2019-01-01 00:00:04 2019-01-01 00:00:04 2019-01-01 00:00:05.875
2019-01-01 00:00:06 2019-01-01 00:00:06 2019-01-01 00:00:07.875
2019-01-01 00:00:08 2019-01-01 00:00:08 2019-01-01 00:00:09.875
...                                 ...                     ...
2019-01-01 00:01:56 2019-01-01 00:01:56 2019-01-01 00:01:57.875
2019-01-01 00:01:58 2019-01-01 00:01:58 2019-01-01 00:01:59.875
2019-01-01 00:02:00 2019-01-01 00:02:00 2019-01-01 00:02:01.875
2019-01-01 00:02:02 2019-01-01 00:02:02 2019-01-01 00:02:03.875
2019-01-01 00:02:04 2019-01-01 00:02:04 2019-01-01 00:02:04.875

[63 rows x 6 columns]